body {
    background-image: url("/src/bg-body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*GAME SCREEN*/


/*steing names for grid items by developing a nice grid-template-areas*/
.grid-p1 {grid-area : gridP1;}
.grid-p2 {grid-area : gridP2;}
.grid-p3 {grid-area : gridP3;}
.grid-p4 {grid-area : gridP4;}
.grid-p5 {grid-area : gridP5;}
.grid-p6 {grid-area : gridP6;}
.grid-p7 {grid-area : gridP7;}
.grid-p8 {grid-area : gridP8;}
.grid-p9 {grid-area : gridP9;}
.grid-score {grid-area : score;}
.grid-player {grid-area : player;}
.grid-life {grid-area : life;}

.grid-container {
    background-image: url("/src/bg-gameplay.png");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    /*centering the main grid*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*creating the grid*/
    display: grid;
    grid-template-areas: 
        'gridP1 gridP2 gridP3'
        "gridP4 gridP5 gridP6"
        "gridP7 gridP8 gridP9"
        "score player life";
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vw 10vw 10vw 10vw;
}

.grid-item {
    text-align: center;
    /*Border by image texture*/
    border: solid;
    border-image: url("/src/bg-interface.png");
    border-image-slice: 20 20;
    border-image-repeat: stretch;
    /*visual thingies to test*/
    color: white;
}

.grid-player, .grid-score, .grid-life{
    background-image: url("/src/bg-interface.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#shotgun {
    width: 130%;
    margin-left: -2vw;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
    text-align: left;
}

/*GAME OVER SCREEN*/
#gameOver {grid-area: GameOver}
#highScore {grid-area: HighScore;}
#aliensKilled {grid-area: AliensKilled;}
#shootsFailed {grid-area: ShootsFailed;}
#btn-restart {grid-area: BtnRestart;}


#scoreScreen {
    width: 80%;
    height: 80%;
    background-image: url("src/bg-interface.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vw;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-areas:
        "GameOver"
        "HighScore"
        "AliensKilled"
        "ShootsFailed"
        "BtnRestart";
}

.score {
    color: black;
    text-align: center;
    margin-bottom: 2%;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gameOver {
    margin: 5% 5% 1% 5%;
    font-size: 4vw;
    color: brown;
}

#btn-restart {
    margin-left: 37%;
    text-align: center;
    width: 25%;
    border-radius: 2vw;
    border-color: yellow;
    border-style: solid;
    background-color: red;
    color: blanchedalmond;
}

#highScore {
    font-size: 3vw;
}