body {
    background-image: url("/src/bg-body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*steing names for grid items by developing a nice grid-template-areas*/
.grid-p1 {grid-area : gridP1;}
.grid-p2 {grid-area : gridP2;}
.grid-p3 {grid-area : gridP3;}
.grid-p4 {grid-area : gridP4;}
.grid-p5 {grid-area : gridP5;}
.grid-p6 {grid-area : gridP6;}
.grid-p7 {grid-area : gridP7;}
.grid-p8 {grid-area : gridP8;}
.grid-p9 {grid-area : gridP9;}
.grid-player {grid-area : footer;}

.grid-container {
    background-image: url("/src/bg-gameplay.png");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    /*centering the main grid*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*creating the grid*/
    display: grid;
    grid-template-areas: 
        'gridP1 gridP2 gridP3'
        "gridP4 gridP5 gridP6"
        "gridP7 gridP8 gridP9"
        "footer footer footer";
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vw 10vw 10vw 10vw;
}

.grid-item {
    text-align: center;
    /*Border by image texture*/
    border: solid;
    border-image: url("/src/bg-interface.png");
    border-image-slice: 20 22;
    border-image-repeat: stretch;
    /*visual thingies to test*/
    color: white;
}

.grid-player {
    background-image: url("/src/bg-interface.png");
    background-repeat: no-repeat;
    background-size: cover;
}
